<!--diseño html para mostrar noticias-->
<div class="parallax">
    <div class="parallax-content">
        <h2>Noticias y Actualizaciones</h2>
        <p>Mantente informado sobre la gestión de recursos hídricos en la región del Tolima</p>
    </div>
</div>

<main class="news-updates" id="news-updates">
    <h2>Últimas Noticias</h2>
    <p>Descubre las novedades más recientes sobre la gestión del medio ambiente en nuestra región.</p>
    <div class="news-container" id="news-container" #newscontainer>
        <!-- Las noticias se cargarán aquí dinámicamente -->
    </div>
    <div class="text-center mt-4">
        <button id="load-more" class="btn btn-primary">Cargar más noticias</button>
    </div>
</main>