<!--Diseño para reestablecer contraseñas-->
<div class="contenedor">    
    <div class="childCont">
        <h1>Restablecer Contraseña</h1> 
    </div>    
    <div class="childCont1">
        <div class="card">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" style="width: 100%;">
                <div class="mb-3">   
                    <label for="password">Nueva Contraseña:</label>         
                    <input type="password" class="form-control" formControlName="password" (keyup)="onKeyPassword($event)">  
                    <div *ngIf="submitted && f.password.errors?.['required']" class="error">                                    
                        Ingrese su contraseña
                    </div>  
                    <div *ngIf="submitted && (f.password.errors?.['minlength'] || f.password.errors?.['pattern'])" class="error">                                                                          
                        La contraseña debe tener mínimo 6 caracteres incluyendo al menos una mayúscula, una minúscula, un número y un símbolo.
                    </div>                  
                    <div *ngIf="flagPassword" class="error">                
                        Nueva Contraseña y Confirmar Contraseña Diferentes
                    </div>           
                </div>

                <div class="mb-3">   
                    <label for="confirmPassword">Confirmar Nueva Contraseña:</label>         
                    <input type="password" class="form-control" formControlName="confirmPassword">  
                    <div *ngIf="submitted && f.confirmPassword.errors?.['required']" class="error">  
                        Ingrese su contraseña
                    </div>          
                    <div *ngIf="submitted && (f.confirmPassword.errors?.['minlength'] || f.confirmPassword.errors?.['pattern'])" class="error">                                                     
                        La contraseña debe tener mínimo 6 caracteres incluyendo al menos una mayúscula, una minúscula, un número y un símbolo.
                    </div>                 
                </div>
                <div class="buttonCenter">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>                
            </form>
        </div>        
    </div> 
</div>
