/*Estilos para cuadro de dialogo para resetear contraseñas*/
.contenedor{       
    margin: 0; 
    top: 62px; 
    height: calc(100vh - 62px);  
    width: 100%;    
    position: relative;    
}

.childCont{
    text-align: center;
}

h1 {    
    color: #333;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 20px;     
}

.childCont1{    
    max-width: 400px;
    margin: auto;
}

.card{      
    padding: 20px;  
    margin:8px;       
}

.buttonCenter{    
    text-align: center;
}


.error{
    border: solid 2px rgb(219, 71, 71);
    position: absolute;
    margin-top: 2px;  
    padding: 8px;      
    background-color: white;
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgb(219, 71, 71, 0.2);    
    z-index: 1;
    /*width: calc(100% - 58px);*/
}

.error::before {
    content: '';
    position: absolute;
    top: -20px; /* Ajusta la posición vertical del pico */
    left: 15%;
    transform: translateX(-50%);
    border-width: 10px; /* Ajusta el tamaño del pico */
    border-style: solid;    
    border-color: transparent transparent rgb(219, 71, 71) transparent;    
}