/*definicion de estilos para el componente de login*/
.error{
    border: solid 2px rgb(219, 71, 71);
    position: absolute;
    margin-top: 2px;  
    padding: 8px;      
    background-color: white;
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgb(219, 71, 71, 0.2);    
}

.error::before {
    content: '';
    position: absolute;
    top: -20px; /* Ajusta la posición vertical del pico */
    left: 15%;
    transform: translateX(-50%);
    border-width: 10px; /* Ajusta el tamaño del pico */
    border-style: solid;
    border-color: transparent transparent rgb(219, 71, 71) transparent;    
}

.mb-3{
    margin-bottom: 3rem !important;
}

.work{      
    width: 100%;
    height: 100vh;
    animation: mymove 8s infinite;
    -webkit-animation: mymove 8s infinite;
}

@keyframes mymove {
    0% {background-color: rgb(143, 209, 229);}
    50% {background-color: rgb(226, 240, 245);}
    100% {background-color: rgb(143, 209, 229);}
}

.container{        
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.card{   
    width: 100%;
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

/*****Título*****/
.titulo {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    font-weight: 700;
}

/*****password*****/
.password{
    width: 100%;
    position: relative;
}

.password input{
    position: relative;
}

.password svg{
    position: absolute;    
    top: 20%;
    right: 5%;
}

/*****Enlaces*****/
.forgot-password, .register-link {
    margin-top: 15px;
}

.forgot-password a, .register-link a {
    color: #007bff;
    text-decoration: none;
}

.forgot-password a:hover, .register-link a:hover {
    text-decoration: underline;
}