<!--Diseño HTML para pagina de inicio-->
<!-- Cabecera -->
<header class="masthead parallax">
    <div class="overlay"></div>
    <div class="container">
        <div class="header-content">
            <h1>Bienvenido al Centro de monitoreo del agua</h1>
            <p>¡Regístrate y comienza a descubrir y explorar más sobre nuestros recursos hídricos!</p>
            <a class="btn btn-primary btn-lg" fragment="main-content" role="button" (click)="jumpToSection('main-content')">Ver más</a>
        </div>
    </div>
</header>

<!-- Contenido Principal -->
<main id="main-content" name="main-content">
    <!-- Objetivo -->
    <section id="objetivo" class="section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <img class="img-fluid rounded-custom" src="assets/img/indx-objetivo.jpeg" alt="Objetivo">
                </div>
                <div class="col-lg-6">
                    <h2 class="display-4">OBJETIVO</h2>
                    <p>Este proyecto tiene como objetivo principal la colaboración técnica, administrativa y financiera entre Cortolima y la Universidad del Tolima. La finalidad es desarrollar actividades de ciencia, tecnología e innovación para cumplir con las metas establecidas en el proyecto. El cual se enmarca en el convenio interadministrativo, suscrito entre la Gobernación del Tolima y la Corporación Autónoma Regional del Tolima.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Descripción -->
    <section id="descripcion" class="section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <img class="img-fluid rounded-custom" src="assets/img/indx-descripcion.jpeg" alt="Descripción">
                </div>
                <div class="col-lg-6">
                    <h2 class="display-4">Descripción</h2>
                    <p>Destacar la relevancia fundamental de la plataforma informática diseñada específicamente para el monitoreo, seguimiento y evaluación del recurso hídrico en el Departamento del Tolima. Esta herramienta no solo representa un avance tecnológico, sino también una contribución crucial para la comprensión y gestión eficaz de los recursos hídricos, fomentando la toma de decisiones informadas y la sostenibilidad ambiental.</p>
                </div>
            </div>
        </div>
    </section>
</main>

<div id="carouselExample" class="carousel" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/img/carrulcl-monit-hidr.jpg">
            <div class="carousel-caption">
                <h2>Monitoreo de Recursos Hídricos</h2>
                <p>Se enfoca en la medición y análisis de la calidad del agua, caudales y flujos, así como en el seguimiento del nivel de agua en acuíferos.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="assets/img/carrucl-segui-calid-agua.jpg">
            <div class="carousel-caption">
                <h2>Seguimiento de Recursos Hídricos</h2>
                <p>Involucra el seguimiento de patrones climáticos, el uso del agua en diferentes sectores y la detección de cambios a largo plazo en los recursos hídricos.</p>
            </div>
        </div>    
        <div class="carousel-item">
            <img src="assets/img/carrucl-evalu-recur-hidr.jpg">
            <div class="carousel-caption">
                <h2>Evaluación de Recursos Hídricos</h2>
                <p>Se centra en evaluar el impacto ambiental de las actividades humanas, la sostenibilidad de la gestión del agua y el cumplimiento normativo.</p>
            </div>
        </div>
    </div>
    
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"  data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>            
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>        
    </button>
</div>

<!-- acordeon -->
<div class="acordeon">
    <section class="questions">
        <h2 class="subtitle">Preguntas frecuentes</h2>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        ¿Cuál es el propósito principal de la plataforma informática para el monitoreo, seguimiento y evaluación del recurso hídrico en el Departamento del Tolima?
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        El propósito principal de la plataforma informática tiene como objetivo facilitar el monitoreo continuo, seguimiento detallado y evaluación exhaustiva de los recursos hídricos en el Departamento del Tolima. Proporcionará información en tiempo real sobre la calidad, cantidad y comportamiento de los recursos hídricos, permitiendo una toma de decisiones informada para la gestión y preservación sostenible de estos recursos.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        ¿Cómo contribuye la colaboración entre Cortolima y la Universidad del Tolima a la implementación efectiva de este sistema?
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        La colaboración entre las dos entidades es aunar esfuerzos técnicos, administrativos y financieros para llevar a cabo las actividades necesarias en el marco del proyecto. Esta sinergia permite aprovechar la experiencia y recursos de ambas instituciones, garantizando una implementación efectiva y eficiente del sistema de monitoreo. La colaboración también facilita la integración de conocimientos científicos e innovación tecnológica para abordar los desafíos específicos relacionados con los recursos hídricos en la región.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        ¿Qué información específica proporcionará la plataforma y cómo beneficiará a la gestión y preservación de los recursos hídricos en la región del Tolima?
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        La información específica proporcionada ofrecerá datos detallados sobre la cantidad y calidad del agua, así como información relacionada con el comportamiento de los recursos hídricos. Esto incluirá datos en tiempo real, informes de seguimiento periódicos y evaluaciones a largo plazo. Estos conocimientos respaldarán la toma de decisiones informada en la gestión de los recursos hídricos, permitiendo implementar medidas preventivas y correctivas de manera oportuna. En última instancia, la plataforma contribuirá a la preservación y uso sostenible de los recursos hídricos en el Departamento del Tolima.
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-column">
                <h3 class="footer-title">Monitoreo Hídrico</h3>
                <p class="footer-description">Plataforma de simulación para el monitoreo y la toma de decisiones informada en la gestión hídrica del Tolima.</p>
            </div>
            <div class="footer-column">
                <h3 class="footer-title">Enlaces de interés</h3>
                <ul class="footer-links">
                    <li><a routerLink="/home/start" class="footer-link">Inicio</a></li>
                    <li><a href="http://www.ut.edu.co/" class="footer-link">¿Quiénes somos?</a></li>
                    <li><a href="https://maps.app.goo.gl/ZzxoyxPuiEQtYPAg7" class="footer-link">Ubicación</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3 class="footer-title">Entidades</h3>
                <div class="footer-governments">
                    <a href="https://minciencias.gov.co/" target="_blank" class="footer-government-link"><img src="assets/icons/minciencias.ico" alt="MinCiencias"></a>
                    <a href="https://www.cortolima.gov.co/" target="_blank" class="footer-government-link"><img src="assets/icons/cortolima.ico" alt="Cortolima"></a>
                    <a href="https://tolima.gov.co/" target="_blank" class="footer-government-link"><img src="assets/icons/gobernacion.ico" alt="Gobernación"></a>
                    <a href="https://www.minhacienda.gov.co/webcenter/portal/SGRr" target="_blank" class="footer-government-link"><img src="assets/icons/sgr.ico" alt="SGR"></a>
                    <a href="http://www.ut.edu.co/" target="_blank" class="footer-government-link"><img src="assets/icons/ut.ico" alt="UT"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Monitoreo de Recursos Hídricos del Tolima.</p>
    </div>
</footer>


