<!--Html para generar spiner mientras carga-->
<ngx-spinner type="ball-scale-multiple"></ngx-spinner><!--adicion codigo v2-->

<!--plantilla html-->
<h1 class="text-center mb-4">Gestión de Proyectos</h1>
<div class="container fade-in">
    <div class="card shadow">
        <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
                <div class="row">
                    <div class="col col-xl-2 col-lg-2 col-md-2 col-sm-1">
                        <label for="nombre" class="form-label">Nombre Proyecto</label>
                        <input type="text" class="form-control" name="nombre" formControlName="nombre">
                        <div *ngIf="submitted && f.nombre.errors" class="error">                
                            Ingrese nombre del proyecto
                        </div>          
                    </div>
                    <div class="col col-xl-2 col-lg-2 col-md-2 col-sm-1">
                        <label for="fecha" class="form-label">Fecha de Creación</label>
                        <input type="datetime-local" class="form-control" name="fecha" formControlName="fecha">
                        <div *ngIf="submitted && f.fecha.errors" class="error">                
                            Ingrese fecha del proyecto
                        </div>          
                    </div>                        
                    <div class="col col-xl-3 col-lg-3 col-md-3 col-sm-1">
                        <label for="archivo" class="form-label">Archivo</label>
                        <input type="file" class="form-control" name="archivo" formControlName="archivo" (change)="this.onChangeArchivo($event)">
                        <div *ngIf="submitted && f.archivo.errors" class="error">                
                            Cargue archivo Excel
                        </div>          
                    </div>
                    <div class="col col-xl-3 col-lg-3 col-md-3 col-sm-1"><!--adicion de codigo-->
                        <label for="archivo_geo" class="form-label">Archivo (geojson)</label>
                        <input type="file" class="form-control" name="archivo_geo" formControlName="archivo_geo" (change)="this.onChangeArchivoGeo($event)">
                        <div *ngIf="submitted && f.archivo_geo.errors" class="error">                
                            Cargue el archivo (geojson)
                        </div>          
                    </div>
                    <div class="col col-xl-2 col-lg-2 col-md-2 col-sm-1 d-flex align-items-end">
                        <button class="btn btn-primary w-10" type="submit">Guardar</button>
                    </div>
                </div>
            </form>

            <br>
            <div class="row mb-3">
                <div class="col">
                    <input matInput (keyup)="applyFilter($event)" placeholder="Busqueda de proyectos" #input class="form-control"/>
                </div>                
            </div>          

            <br>
            <!-----Tabla----->
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef class="textCenter">NO.</th>
                        <td mat-cell *matCellDef="let element"> {{element.id}}</td>
                    </ng-container>
                
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef class="textCenter">NOMBRE PROYECTO</th>
                        <td mat-cell *matCellDef="let element" class="hoverName"><a routerLink="/account/crud/view_project/{{element.id}}">{{element.nombre}}</a></td>
                    </ng-container>
                
                    <ng-container matColumnDef="fecha">
                        <th mat-header-cell *matHeaderCellDef class="textCenter">FECHA DE CREACIÓN</th>
                        <td mat-cell *matCellDef="let element">{{element.fecha|date: "yyyy-MM-dd HH:mm"}}</td>
                    </ng-container>
                
                    <ng-container matColumnDef="archivo">
                        <th mat-header-cell *matHeaderCellDef class="textCenter">ARCHIVO</th>
                        <td mat-cell *matCellDef="let element">{{element.archivo}}</td>
                    </ng-container>

                    <ng-container matColumnDef="archivo_geo"><!--adicion de codigo-->
                        <th mat-header-cell *matHeaderCellDef class="textCenter">ARCHIVO (geojson)</th>
                        <td mat-cell *matCellDef="let element">{{element.archivo_geo}}</td>
                    </ng-container>
                
                    <ng-container matColumnDef="acciones">
                        <th mat-header-cell *matHeaderCellDef class="textCenter">ACCIONES</th>
                        <td mat-cell *matCellDef="let element">
                            <svg (click)="editProject(element)" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16" class="myCursor">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                            </svg>
                            <svg (click)="deleteProject(element.id)" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16" class="myCursor" style="margin-left: 8px;">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                            </svg>                            
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="publicar"><!--adicion de codigo-->
                        <th mat-header-cell *matHeaderCellDef class="textCenter">PUBLICAR</th>
                        <td mat-cell *matCellDef="let element"><input type="checkbox" [checked]="element.publicar" (change)="checkValue(element.id, $event)"></td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns" style="background:#34495e; color:white; font-weight:600; letter-spacing:1px;"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>          
        </div>
    </div>
</div> 